# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

# resources:
#  repositories:
#    - repository: R1
#      type: GitHub
#      endpoint: MyGithubConnection
#      name: jainamanjain/Repo1

jobs:
#  - deployment: deploymentJob1
#    displayName: somedeploy
#    pool:
#     name: default
#    environment: environment1
#    strategy:
#     runOnce:
#       deploy:
#         steps:
#          - checkout: self
#          - task: PublishBuildArtifacts@1
#            inputs:
#             PathtoPublish: 'artifact1.1'
#             ArtifactName: 'A1.1'
#             publishLocation: 'Container'
#          - task: PublishBuildArtifacts@1
#            inputs:
#             PathtoPublish: 'artifact1.2'
#             ArtifactName: 'A1.2'
#             publishLocation: 'Container'
#          - powershell: |
#             ls $(Build.ArtifactStagingDirectory)/
 - job: J1
   pool:
    name: default
   steps:
      # - publish: 'A1.1'
      #   artifact: artifact1.1
      # - task: PublishPipelineArtifact@1
      #   inputs:
      #     targetPath: 'artifact1.1'
      #     artifact: 'A1.1'
      # - task: PublishPipelineArtifact@1
      #   inputs:
      #     targetPath: 'artifact1.2'
      #     artifact: 'A1.2'

      - task: PublishBuildArtifacts@1
        inputs:
         PathtoPublish: 'artifact1.1'
         ArtifactName: 'A1.1'
         publishLocation: 'Container'
      - task: PublishBuildArtifacts@1
        inputs:
         PathtoPublish: 'artifact1.2'
         ArtifactName: 'A1.2'
         publishLocation: 'Container'
      - powershell: |
            ls $(Build.ArtifactStagingDirectory)/
 - job: J2
   pool:
    name: default
   steps:
      - task: PublishBuildArtifacts@1
        inputs:
         PathtoPublish: 'artifact2'
         ArtifactName: 'A2'
         publishLocation: 'Container'

      # - task: PublishPipelineArtifact@1
      #   inputs:
      #     targetPath: 'artifact2'
      #     artifact: 'A2'

 - job: J3
   pool:
    name: default
   dependsOn: J1
   steps:
      # - download: current
      - task: DownloadBuildArtifacts@0
        inputs:
          artifactName: 'A1.1'
          downloadPath: '$(System.ArtifactStagingDirectory)'
      # - task: DownloadPipelineArtifact@2
      #   inputs:
      #     buildType: 'current'
      #     artifactName: 'A1.1'
      #     targetPath: '$(Pipeline.Workspace)'

 - deployment: deploymentJob4
   environment: envionment4
   dependsOn: J2
   pool: Default
   strategy:
    runOnce:
      deploy:
       steps:
        # - download: none
        - task: DownloadBuildArtifacts@0
          inputs:
            # downloadType: specific
            # itemPattern: '**'
            artifactName: 'A1.1'
            downloadPath: '$(System.ArtifactStagingDirectory)'
        # - task: DownloadPipelineArtifact@2
        #   inputs:
        #     buildType: 'current'
        #     artifactName: 'A2'
        #     targetPath: '$(Pipeline.Workspace)'